pipeline/PL_Ingest_API.json
{
	"name": "PL_Ingest_API",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DsConfigJson",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachDownloads_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_ApiConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_ApiConfig').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyDataUsers",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetRebrickableApiKey",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "GetUserToken",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"additionalHeaders": {
										"Authorization": {
											"value": "key @{activity('GetRebrickableApiKey').output.value}",
											"type": "Expression"
										}
									},
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DsApiSource",
									"type": "DatasetReference",
									"parameters": {
										"baseurl": "https://rebrickable.com/api/v3/",
										"relativeurl": {
											"value": "users/@{activity('GetUserToken').output.value}/sets/",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DSAdlsJsonUser",
									"type": "DatasetReference",
									"parameters": {
										"name": {
											"value": "@{item().name}/@{formatDateTime(utcNow(),'yyyy')}/@{formatDateTime(utcNow(),'MM')}/@{formatDateTime(utcNow(),'dd')}/part-*.json",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetRebrickableApiKey",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "https://legokvz.vault.azure.net/secrets/rebrickable-api-key?api-version=7.5",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						},
						{
							"name": "GetUserToken",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "https://legokvz.vault.azure.net/secrets/rebrickable-user-token?api-version=7.5",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter_ApiConfig",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Config').output.value[0].users.datasets\n\n\n\n\n",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(empty(item()))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "NotifyFailure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEachDownloads_copy1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-31.centralindia.logic.azure.com:443/workflows/b7940b83fc474c4089d8054355e86711/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=rYEini4yetw-ACdyHExRRYLslhUmfh6Nz4nwUrLwU7M",
					"body": {
						"value": "{\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"runId\": \"@{pipeline().RunId}\",\n  \"timestamp\": \"@{utcNow()}\"\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}