pipeline/PL_Ingest_Downloads.json
{
	"name": "PL_Ingest_Downloads",
	"properties": {
		"activities": [
			{
				"name": "Filter_DownloadsConfig",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_Config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Config').output.value[0].lego.datasets\n\n\n",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(empty(item()))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEachDownloads",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_DownloadsConfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_DownloadsConfig').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyDataLego",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DsBinaryWeb",
									"type": "DatasetReference",
									"parameters": {
										"baseurl": {
											"value": "@item().fileUrl",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DSBinarySink",
									"type": "DatasetReference",
									"parameters": {
										"name": {
											"value": "@{item().name}/@{formatDateTime(utcNow(),'yyyy')}/@{formatDateTime(utcNow(),'MM')}/@{formatDateTime(utcNow(),'dd')}/part-*.csv",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup_Config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DsConfigJson",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "NotifyFailure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEachDownloads",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-31.centralindia.logic.azure.com:443/workflows/b7940b83fc474c4089d8054355e86711/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=rYEini4yetw-ACdyHExRRYLslhUmfh6Nz4nwUrLwU7M",
					"body": {
						"value": "{\n  \"pipelineName\": \"@{pipeline().Pipeline}\",\n  \"runId\": \"@{pipeline().RunId}\",\n  \"timestamp\": \"@{utcNow()}\"\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"values": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-17T10:59:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}